@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
img {
    width: 80%;
    height: 100%;
    vertical-align: middle;
    background-color: #24252A ;
}
h2 {
    color: rgb(233, 233, 233);
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    padding: 20px;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
h1 {
   font-size: 80px;
}

.logo {
    cursor: pointer;
    max-width: 30%;
    max-height: 30%;
    margin-right: auto;
    margin-left: -90px;
}
.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgba(244, 12, 12, 0.8);
}
button {
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgb(231, 23, 23);
    border: none; 
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(210, 214, 215, 0.8);
}
body {
    background-color: rgb(39, 34, 34);
}
#link {
    margin-left: 30px;
    padding: 9px 25px;
    border: none; 
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#link:hover {
color: rgba(244, 12, 12, 0.8);
}

#artclick:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#items {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;

}

#artclick {
    display: grid;
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
}
#albums {
    --gap: 20px;
    --num-cols: 4;
    --row-height: 300px;
    

    box-sizing: border-box;
    padding: var( --gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-left: 80px;
}